<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculatorService" />
                <binding name="BasicHttpBinding_ICustomerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8989/services/calculator"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculatorService"
                contract="CalculatorServices.ICalculatorService" name="BasicHttpBinding_ICalculatorService" />
            <endpoint address="http://localhost:9898/services/customer" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICustomerService" contract="CustomerServices.ICustomerService"
                name="BasicHttpBinding_ICustomerService" />
        </client>
    </system.serviceModel>
</configuration>
